<!DOCTYPE html> {% extends 'main/template.html' %} {% block content %}
<div class="container" style="width:350px">
        <div class="list-group">
                {% for project in projects %}
                <a href="{% url 'getProject' project.id %}" class="list-group-item list-group-item-action">{{ project.name }}
                        {% if project.predected == 1 %}
                                <span class="badge progress-bar-info">{{ project.predected }}</span>
                        {% else %}
                                <span class="badge progress-bar-danger">{{ project.predected }}</span>
                        {% endif %}
                </a>
                {% endfor %}
        </div>
</div>
{% endblock %}